.about{
    background-color:$primaryColor;
    .container{
        @extend %container;      
    }
    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items:center;
        @include media(lg){
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: flex-start;
        }
    }
    &__photographer{
        max-width: 290px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        padding-right:12px;
        &::before{
            content:'';
            display: inline-block;
            background-image: url(../images/heart.svg);
            background-size: cover;
            width: 31px;
            height: 27px;
            position: absolute;
            top:14%;
            right: 0;
        }
        @include media(lg){
            margin-right: 50px;
        }
    }
    &__photographer-photo{
        max-width:139px;
        margin-top: 62px;
        margin-bottom: 20px;
        
    }
    
    &__photographer-name{
        @include text(500,18px,26px,$textColor);
        margin-bottom: 7px;
    }
    &__photographer-span{
        @include text(400,14px,21px,$textColor);
        margin-bottom: 7px;
    }
    &__photographer-link{
        @include text(500,14px,21px,$linkColor);
        text-align: center;
        margin-bottom: 25px;
        padding:0 32px;
    }
    &__organizer-title{
        @include text(500,18px,15px,$textColor);
        margin-bottom:16px;
    }
    &__organizer-paragraf{
        @include text(400,16px,24px,$textColor);
        margin-bottom: 26px;
        @include media(md){
            max-width: 584px;
        }
    }
    &__organizer-paragraf2{
        word-spacing: 6px;
        margin-bottom: 20px;
    }
    
    &__organizer-link{
        @include text(500,16px,23px,$linkColor);
        text-align: left;
        position: relative;
        padding-right: 20px;
        padding-bottom: 30px;
        display: inline-block;
        &::after{
            content: "";
            background-image: url(../images/arrow-bottom.svg);
            background-size: cover;
            display: inline-block;
            width: 11px;
            height: 6px;
            position: absolute;
            top:8px;
            right:0;
        }
    }
    &__organizer-paragraf2{
        @include text(400,16px,24px,$textColor);
        margin-bottom: 20px;
        @include media(md){
            max-width: 584px;
        }
    }
}