.contacts{
    .container{
        @extend %container;
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 87px;
        margin-bottom: 27px;
    }
    &__social-list{
        // width: 137px;
        display: flex;
        // justify-content: space-between;
        align-items: center;
        list-style: none;
        &:nth-last-child(){
            display: none;
            @include media(lg){
                display: block;
            }
        }
    }
    &__social-item{
        margin-right: 30px;
    }
    &__language{
        @include text(400,15px,18px,$textColor);
        border: none;
        -webkit-appearance: none;
        background-image: url(../images/arrow-bottom.svg);
        background-repeat: no-repeat;
        background-position: right;
        text-align: end;
        padding-right: 16px;
    }
    &__line{
        height: 1px;
        margin:23px 0 26px;
        @include media(sm){
            display: none;
        }
    }
    &__language{
        display: none;
        @include media(lg){
            display: block;
        }
    }
}