.info{
    background-color: $primaryColor;

    .container{
        @extend %container;
    }
    &__wrapper{
        margin-top: 38px;
        @include media(lg){
            position: relative;
        }
    }
    &__title{
        @include text(400,28px,34px,$textColor);
        margin-bottom:11px;
        text-align: center;
        @include media(lg){
            text-align: left;
        }
    }
    &__photo{
        margin-bottom:25px;
        width: 100%;
        max-width: 668px;
        object-fit:cover;
        @include media(lg){
            position: absolute;
            top: 0;
            right: 0;
            max-width: 554px;
        }
    }
    &__paragraf{
        @include text(400,14px,20px,$textColor);
        max-width: 549px;
        margin-bottom: 35px;
        word-spacing: -1px;
        @include media(sm){
            @include text(400,18px,26px,$textColor);
            padding-right: 30px;
            margin-bottom:15px;
        }
    }
    &__content{
        display: grid;
        grid-template-rows: repeat(4,35px);
        grid-template-columns: 30px 270px;
        grid-gap: 13px;
    }
    &__text{
        display: flex;
        align-items: center;
        @include text(400,14px,20px,$textColor);
        
    }
    &__line-top{
        margin-top:46px;
        margin-bottom:5px;
        @include media(sm){
            margin-top: 30px;
            margin-bottom: 30px;
            }
        @include media(lg){
        max-width: 569px;
        }
    }
    &__line-bottom{
        margin-top:14px;
        @include media(sm){
        margin-top: 23px;
        }
        @include media(lg){
        max-width: 569px;
        }
    }

}
