.map{
    margin-top: 45px;
    .container{
        @extend %container;      
    }
    &__google{
        min-height: 423px;
    }
    &__wrapper{
        border:1px solid  $secondaryColor;
        margin: 52px 8px 40px;
        padding:52px 25px 20px;
    }
    &__photographer{
        display: flex;
        flex-direction: row;
    }
    &__photographer-logo{
        margin-right: 8px;
    }
    &__photographer-photo{
        max-width: 67px;
        height: 67px;
    }
    &__photographer-info{
        flex-direction: column;
        max-width: 156px;
        display: flex;
    }
    &__photographer-name{
        @include text(500,16px,16px,$textColor);
        margin-bottom: 5px;
    }
    &__photographer-span{
        @include text(400,14px,21px,$textColor);
        margin-bottom: 7px;
    }
    &__photographer-link{
        @include text(500,14px,21px,$linkColor);
        margin-bottom: 20px;
        
    }
}