.photo{
    background-color:$primaryColor;
    .container{
        @extend %container;
    }
    &__title{
        @include text(400,26px,31px,$textColor);
        text-align: center;
        margin-top: 60px;
        margin-bottom: 32px;
    } 
}