.reviews{
    background-color:$primaryColor;
    .container{
        @extend %container;
    }
    &__comment,
    &__comment2,
    &__comment3{
        position:relative; 
    }
    &__comment3{
        display:none;
        @include media(sm){
            display: block;
        }
    }
    &__title{
        @include text(400,26px,39px,$textColor);
        text-align: center;
        margin-bottom: 38px;
        margin-top: 40px;
        @include media(md){
            @include text (500,20px,29px,$textColor);
            text-align: left;
        }
    }
    &__autor{
        display:flex;
        justify-content: flex-start;
        margin-bottom: 24px;
    }
    &__autor-logo{
        margin-right: 18px;
    }
    &__output{
        @include text(400,14px,21px,$textColorLight);
        position: relative;
        padding-left: 20px;
        &::before{
            content:'';
            display: inline-block;
            background-image: url(../images/chek-mark.svg);
            background-size: cover;
            position: absolute;
            top: 0;
            left: 0;
            width: 15px;
            height: 12px;
        }
        @include media(md){
            position: absolute;
            top: 24%;
            left:38%;
        }   
        @include media(lg){
            left:22%;
        } 
    }
    &__autor-info{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        margin-top: 5px;
    }
    &__autor-name{
        @include text(500,16px,19px,$textColor);
    }
    &__autor-position{
        @include text(400,14px,21px,$textColor);
    }
    &__rating{
        margin-left: 0;
    }
    &__comment-text{
        @include media(md){
            max-width: 510px;
            margin-left: 100px;
        }
    }
    &__paragraf{
        @include text(400,14px,21px,$textColor);
        text-align: left;
        margin-top: 13px;
        margin-bottom: 13%;
        padding-right: 35px;
        @include media(sm){
            min-width: 505px;
        }
        @include media(md){
            min-width: 510px;
        }
        
    }
    &__data{
        @include text(400,14px,21px,$textColorLight);
    }
    &__line{
        margin:44px 0 20px;
    }
    &__all{
        @include text(500,17px,25px,$linkColor);
        text-align: center;
        margin-top: 50px;
        margin-bottom: 47px;
        padding:0 15px;
        position: relative;
        &::before{
            content:"";
            display: inline-block;
            width: 6px;
            height: 11px;
            background-image:url(../images/arrow-right.svg);
            background-size: cover;
            position: absolute;
            top:35%;
            right:0;
            @include media(md){
                background-image: url(../images/arrow-bottom.svg);
                width: 11px;
                height: 6px;
            }
        }
        &::after{
            content:"";
            width: 11px;
            height: 6px;
            background-image:url(../images/arrow-bottom.svg);
            background-size: cover;
            position: absolute;
            top:35%;
            left:0;
            display: none;
            @include media(md){
                display: inline-block;
            }
        }
    }
    &__link{
        text-align: center;
    }
}