.slider{
    background-color:$primaryColor;
    position: relative;
    padding:0 20px; 
    .container{
        @extend %container;
    }
    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    &__number{
        @include text(400,30px,44px,$primaryColor);
        position: absolute;
        top: 12px;
        left: 47%;
    }
    &__title{
        @include text(500,16px,23px,$textColor);
        margin-top: 15px;
    }
    &__span{
        @include text(400,14px,20px,$textColor);
        margin-top: 10px;
    }
}

.slick-list {
    overflow: hidden;
}
.slick-track{
    display: flex;
}
/* Стрелка */
.slick-arrow{
    position: absolute;
    top:20%;
    z-index: 10;
    width: 10px;
    height: 19px;
    border: none;
    background-color: white;
    font-size: 0;
}
/* Стрелка влево */
.slick-arrow.slick-prev{
    background-image:url(../images/arrow-left.svg);
    background-repeat:no-repeat;
    left:22px;
    top: 27px;
}
/* Стрелка вправо */
.slick-arrow.slick-next{
    background-image:url(../images/arrow-right.svg);
    background-repeat:no-repeat;
    right:14px;
    top: 25px;
}
/* Точки (булиты) */
.slider .slick-dots{
    display: flex;
    justify-content: center;
    align-items:center;
    list-style: none;
    margin-top: 10px;
}
.slick-dots li{
    margin-right: 10px;
}
/* Активная точка */
.slick-dots li.slick-active button{
    background-color: orange;
}
/* Элемент точки */
.slick-dots li button{
    background-color: white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    font-size: 0;
}

/* Слайдер с точками */
.slick-slider.slick-dotted{
    width: 270px;
    display: flex;
    flex-direction: column;
}
