@import "./abstracts/vars";
@import "./abstracts/mixins";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    min-width: 320px;
}
a{
    text-decoration: none;
}
hr{
    color:#C7C7C7;
}
@import './header';
@import './main-block';
@import './info';
@import './grade';
@import './rating';
@import './photo';
@import './slick';
@import './about';
@import './time';
@import './map';
@import './reviews';


// @import './slick.min.js';