@mixin text($font-weight,$font-size,$line-height,$color){
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
}

@mixin media ($width, $type:min){
    @if map_has_key($breakpoints, $width){
        $width: map_get($breakpoints, $width);
        @if $type==max{
            $width: $width - 1px;
        }
    }
    @media (#{$type}-width: $width){
        @content;
    }
}